<ul class="thumbnails" ng-repeat="movie in movieList.movies">	
	<li class="span5 clearfix">
		<div class="thumbnail clearfix">					
			<img src="{{movie.posters.detailed}}" class="img-polaroid">		
		</div>
	</li>
	<br />
	<div  class="caption" class="pull-left">				
		<li class="info">
			Title: {{movie.title}}
				<br />
			Release Date: {{movie.year}}
				<br />
			Rated:  {{movie.mpaa_rating}}
				<br />
			Duration: {{movie.runtime}}
				<br />
			Audience Score: {{movie.ratings.audience_score}}
				<br />
			<p><a href="{{movie.links.alternate}}" target="_blank">More information</a></p>
		</li>
     </div>
</ul>	       	